@model ICollection<Blog.Controllers.ViewModels.Blogs.BlogViewModel>


@{
    ViewData["Title"] = "Home";
}

@{
    var slides = Model.Count % 3 == 0 ? Model.Count / 3 : (Model.Count / 3) + 1;
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var blog in Model)
        {
            <div class="post-preview">
                <a href="@Url.Action("Details", "Blog", new { id = blog.Id })">
                    <h2 class="post-title">
                        @blog.Title
                    </h2>
                    <h3 class="post-subtitle">
                        @blog.Summary
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">@blog.CreatedBy</a>
                    on @blog.DateCreated
                </p>
            </div>
        }
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="@Url.Action("OlderPosts", "Blog")">Older Posts &rarr;</a>
        </div>
    </div>
</div>
