@using Blog.Controllers.ViewComponents
@model PagedResult<BlogViewModel>

@{
    ViewData["Title"] = "Home";
    ViewData["MetaDescription"] = "Personal blog driven by my biggest passion - writing code. Here I will try to write mostly about programming related content - .NET, C#, Entity Framework and many other stuff and technologies.";
}

@(await Component.InvokeAsync<HeaderViewComponent>() )

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blog in Model.Results)
            {
                <div class="post-preview">
                    <a href="@Url.Action("Index", "Blog", new {slug = blog.Slug})">
                        <h2 class="post-title">
                            @blog.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @blog.Summary
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted
                        @*<a href="@Url.Action("About", "Home")">Kaloyan Kostov</a>*@
                        on @blog.DateCreated.ToString("dd.MM.yyyy")
                    </p>
                </div>
            }

            <hr>
            <!-- Pager -->
            @(await Component.InvokeAsync<PagerViewComponent>(new { result = Model }))
        </div>
    </div>
</div>



