<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Personal blog driven by my biggest passion. Here I will try to write mostly about programming related content. More information can be found on <a href="@Url.Action("About", "Home")">About page</a>.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                @(await Component.InvokeAsync<TagsViewComponent>(new { tagsToGet = 6 }))
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="@Url.Action("About", "Home")">About me</a></li>
                    <li><a href="@Url.Action("Index", "Contact")">Contact me</a></li>
                    <li><a href="@Url.Action("CookiePolicy", "Home")">Cookie Policy</a></li>
                    @*<li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>*@
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.UtcNow.Year All Rights Reserved by
                    <a href="https://kaloyanit.com">Kaloyan.IT</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="twitter" href="https://twitter.com/KaloyanKostov1"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="github" href="https://github.com/KaloyanIT"><i class="fa fa-github"></i></a></li>
                    <li><a class="stack-overflow" href="https://stackoverflow.com/users/4399836/kaloyan-kostov"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/kaloyan-k-b41585b2"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>